{% set page = 'news' %}

{% extends "::theme.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row equal-height vertical-gap">
            <div class="col-lg-8">
                <!-- START: Post -->
                <div class="nk-blog-post nk-blog-post-single">
                    <!-- START: Post Text -->
                    <div class="nk-post-text mt-0">
                        <div class="nk-post-img">
                            <img src="{{ asset('assets/images/post-2.jpg') }}" alt="{{ news.title }}">
                        </div>
                        <div class="nk-gap-1"></div>
                        <h1 class="nk-post-title h4">{{ news.title }}</h1>
                        <div class="nk-post-by">
                            <img src="{{ asset('assets/images/avatar-2.jpg') }}" alt="Witch Murder" class="img-circle" width="35"> by <a href="#">{{ news.author }}</a> in {{ news.date|date('M j, Y') }}

                        </div>
                        <div class="nk-gap"></div>
                        <p>{{ news.content|raw }}</p>

                        <div class="nk-gap"></div>
                        <blockquote class="nk-blockquote">
                            <div class="nk-blockquote-icon">
                                <span>"</span>
                            </div>
                            {#<div class="nk-blockquote-content">#}
                                {#Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door. As if she had known them all her life. Indeed, she had quite a long argument with the Lory.#}
                            {#</div>#}
                            {#<div class="nk-blockquote-author">#}
                                {#<span>Samuel Marlow</span>#}
                            {#</div>#}
                        </blockquote>

                        <div class="nk-gap"></div>
                        <div class="nk-post-share">
                            <span class="h5">Share Article:</span>

                            <ul class="nk-social-links-2">
                                <li>
                                        <span class="nk-social-facebook" title="Share page on Facebook" data-share="facebook">
                                            <span class="fa fa-facebook"></span>
                                        </span>
                                </li>
                                <li>
                                        <span class="nk-social-google-plus" title="Share page on Google+" data-share="google-plus">
                                            <span class="fa fa-google-plus"></span>
                                        </span>
                                </li>
                                <li>
                                        <span class="nk-social-twitter" title="Share page on Twitter" data-share="twitter">
                                            <span class="fa fa-twitter"></span>
                                        </span>
                                </li>
                                <li>
                                        <span class="nk-social-pinterest" title="Share page on Pinterest" data-share="pinterest">
                                            <span class="fa fa-pinterest-p"></span>
                                        </span>
                                </li>

                                <!-- Additional Share Buttons
                            <li><span class="nk-social-linkedin" title="Share page on LinkedIn" data-share="linkedin"><span class="fa fa-linkedin"></span></span></li>
                            <li><span class="nk-social-vk" title="Share page on VK" data-share="vk"><span class="fa fa-vk"></span></span></li>
                        -->
                            </ul>
                        </div>
                    </div>
                    <!-- END: Post Text -->

                </div>
                <!-- END: Post -->
            </div>
            {% include 'sidebar.html.twig' %}
        </div>
    </div>
{% endblock %}