{% macro status_btn(status, text, small = false) %}
    {% spaceless %}
        {% if status == 10 %}
            <button class="nk-btn nk-btn-rounded nk-btn-color-main-6 {{ small ? 'nk-btn-xs' : '' }} disabled active">{{ text|upper }}</button>
        {% elseif status == 11 %}
            <button class="nk-btn nk-btn-rounded nk-btn-color-main-4 {{ small ? 'nk-btn-xs' : '' }} disabled active">{{ text|upper }}</button>
        {% elseif status == 12 %}
            <button class="nk-btn nk-btn-rounded nk-btn-color-main-4 {{ small ? 'nk-btn-xs' : '' }} disabled active">{{ text|upper }}</button>
        {% elseif status == 13 %}
            <button class="nk-btn nk-btn-rounded nk-btn-color-main-4 {{ small ? 'nk-btn-xs' : '' }} disabled active">{{ text|upper }}</button>
        {% elseif status == 14 %}
            <button class="nk-btn nk-btn-rounded nk-btn-color-main-3 {{ small ? 'nk-btn-xs' : '' }} disabled active">{{ text|upper }}</button>
        {% elseif status == 15 %}
            <button class="nk-btn nk-btn-rounded nk-btn-color-main-1 {{ small ? 'nk-btn-xs' : '' }} disabled active">{{ text|upper }}</button>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro status_alert(status, text) %}
    {% spaceless %}
        {% if status == 10 %}
            <div class="nk-info-box text-warning">
                <div class="nk-info-box-icon">
                    <i class="ion-information"></i>
                </div>
                <h3>Information</h3>
                <em>{{ 'MESSAGE_STATUS_CHANGED'|trans({'%status%': text|upper }) }}</em>
            </div>
        {% elseif status == 11 %}
            <div class="nk-info-box text-info">
                <div class="nk-info-box-icon">
                    <i class="ion-information"></i>
                </div>
                <h3>Information</h3>
                <em>{{ 'MESSAGE_STATUS_CHANGED'|trans({'%status%': text|upper }) }}</em>
            </div>
        {% elseif status == 12 %}
            <div class="nk-info-box text-info">
                <div class="nk-info-box-icon">
                    <i class="ion-information"></i>
                </div>
                <h3>Information</h3>
                <em>{{ 'MESSAGE_STATUS_CHANGED'|trans({'%status%': text|upper }) }}</em>
            </div>
        {% elseif status == 13 %}
            <div class="nk-info-box text-info">
                <div class="nk-info-box-icon">
                    <i class="ion-information"></i>
                </div>
                <h3>Information</h3>
                <em>{{ 'MESSAGE_STATUS_CHANGED'|trans({'%status%': text|upper }) }}</em>
            </div>
        {% elseif status == 14 %}
            <div class="nk-info-box text-success">
                <div class="nk-info-box-icon">
                    <i class="ion-information"></i>
                </div>
                <h3>Information</h3>
                <em>{{ 'MESSAGE_STATUS_CHANGED'|trans({'%status%': text|upper }) }}</em>
            </div>
        {% elseif status == 15 %}
            <div class="nk-info-box text-danger">
                <div class="nk-info-box-icon">
                    <i class="ion-information"></i>
                </div>
                <h3>Information</h3>
                <em>{{ 'MESSAGE_STATUS_CHANGED'|trans({'%status%': text|upper }) }}</em>
            </div>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro priority_btn(priority, text, small = false) %}
    {% spaceless %}
        {% if priority <= 20 %}
            <button class="nk-btn nk-btn-rounded nk-btn-color-main-3 {{ small ? 'nk-btn-xs' : '' }} disabled active">{{ text|upper }}</button>
        {% elseif priority == 21 %}
            <button class="nk-btn nk-btn-rounded nk-btn-color-main-6 {{ small ? 'nk-btn-xs' : '' }} disabled active">{{ text|upper }}</button>
        {% else %}
            <button class="nk-btn nk-btn-rounded nk-btn-color-main-1 {{ small ? 'nk-btn-xs' : '' }} disabled active">{{ text|upper }}</button>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro priority_alert(priority, text) %}
    {% spaceless %}
        {% if priority <= 20 %}
            <div class="nk-info-box text-info">
                <div class="nk-info-box-icon">
                    <i class="ion-information"></i>
                </div>
                <h3>Information</h3>
                <em>{{ 'MESSAGE_PRIORITY_CHANGED'|trans({'%priority%': text|upper }) }}</em>
            </div>
        {% elseif priority == 21 %}
            <div class="nk-info-box text-warning">
                <div class="nk-info-box-icon">
                    <i class="ion-information"></i>
                </div>
                <h3>Information</h3>
                <em>{{ 'MESSAGE_PRIORITY_CHANGED'|trans({'%priority%': text|upper }) }}</em>
            </div>
        {% else %}
            <div class="nk-info-box text-danger">
                <div class="nk-info-box-icon">
                    <i class="ion-information"></i>
                </div>
                <h3>Information</h3>
                <em>{{ 'MESSAGE_PRIORITY_CHANGED'|trans({'%priority%': text|upper }) }}</em>
            </div>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{# Source: http://stackoverflow.com/a/15303004/157656 #}
{% macro bytesToSize(bytes) %}
    {% spaceless %}
        {% set kilobyte = 1024 %}
        {% set megabyte = kilobyte * 1024 %}
        {% set gigabyte = megabyte * 1024 %}
        {% set terabyte = gigabyte * 1024 %}

        {% if bytes < kilobyte %}
            {{ bytes ~ ' B' }}
        {% elseif bytes < megabyte %}
            {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
        {% elseif bytes < gigabyte %}
            {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
        {% elseif bytes < terabyte %}
            {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
        {% else %}
            {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}
