{% set page = 'forum' %}

{% extends "::theme.html.twig" %}

{% block content %}
    <!-- START: Breadcrumbs -->
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">


            <li><a href="{{ path('tyras_core_homepage') }}">Home</a></li>


            <li>
                <span class="fa fa-angle-right"></span>
            </li>

            <li><a href="#">Community</a></li>


            <li>
                <span class="fa fa-angle-right"></span>
            </li>

            <li>
                <span>Forum</span>
            </li>

            <li>
                <span class="fa fa-angle-right"></span>
            </li>

            <li>
                <span>Edit topic</span>
            </li>

        </ul>
    </div>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->

<div class="container">
    <div class="row equal-height vertical-gap">
        <div class="col-lg-12">

            <div class="nk-box-2 bg-dark-2" style="height:auto">
                {{ form_start(form) }}
                <div class="form-group row">
                    {{ form_label(form.title, '', { 'label_attr': {'class': 'col-lg-2 col-md-2 col-sm-2 control-label'} }) }}
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        {{ form_widget(form.title, { 'attr': {'class': 'form-control' } }) }}
                        {{ form_errors(form.title) }}
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(form.forum, '', { 'label_attr': {'class': 'col-lg-2 col-md-2 col-sm-2 control-label'} }) }}
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        {{ form_widget(form.forum, { 'attr': {'class': 'form-control' } }) }}
                        {{ form_errors(form.forum) }}
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(form.pinned, '', { 'label_attr': {'class': 'col-lg-2 col-md-2 col-sm-2 control-label'} }) }}
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        {{ form_widget(form.pinned, { 'attr': {'class': '' } }) }}
                        {{ form_errors(form.pinned) }}
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(form.resolved, '', { 'label_attr': {'class': 'col-lg-2 col-md-2 col-sm-2 control-label'} }) }}
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        {{ form_widget(form.resolved, { 'attr': {'class': '' } }) }}
                        {{ form_errors(form.resolved) }}
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(form.closed, '', { 'label_attr': {'class': 'col-lg-2 col-md-2 col-sm-2 control-label'} }) }}
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        {{ form_widget(form.closed, { 'attr': {'class': '' } }) }}
                        {{ form_errors(form.closed) }}
                    </div>
                </div>

                {{ form_rest(form) }}

                <div class="form-group row">
                    <div class="col-lg-offset-2 col-lg-10 col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10">
                        <button type="submit" class="nk-btn nk-btn-rounded nk-btn-color-main-1 nk-btn-hover-color-info">{{ 'discutea.forum.btn.submit'|trans }}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>
</div>

{% endblock %}
