{% set page = 'gallery' %}

{% extends "::theme.html.twig" %}

{% block content %}
    <!-- START: Breadcrumbs -->
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">


            <li><a href="{{ path('tyras_core_homepage') }}">Home</a></li>


            <li>
                <span class="fa fa-angle-right"></span>
            </li>

            <li><a href="#">Community</a></li>


            <li>
                <span class="fa fa-angle-right"></span>
            </li>

            <li>
                <span>Gallery</span>
            </li>

        </ul>
    </div>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->




    <div class="container">
        <div class="row equal-height vertical-gap">
            <div class="col-lg-8">
                <!-- START: Latest Pictures -->
                <h2 class="nk-decorated-h-2 h3">
                        <span>
                            <span class="text-main-1">Latest</span> Screenshots</span>
                </h2>
                <div class="nk-gap"></div>
                <div class="nk-popup-gallery">
                    <div class="row vertical-gap multi-columns-row">
                        {% for image in gallery %}
                        <div class="col-lg-4 col-md-6">
                            <div class="nk-gallery-item-box">
                                <a href="{{asset('uploads/gallery/' ~ image.name)}}" class="nk-gallery-item" data-size="1016x572">
                                    <div class="nk-gallery-item-overlay">
                                        <span class="ion-eye"></span>
                                    </div>
                                    <img src="{{asset('uploads/gallery/' ~ image.name)}}" alt="">
                                </a>
                                <div class="nk-gallery-item-description">
                                    <h4>{{ image.desc }} - <i style="font-size:14px">{{ image.owner.username }}</i></h4>
                                    {% if image.stars > 0 %}
                                        {{ (image.stars / (image.usersVoted | length)) | rating }} {{ image.usersVoted | length }} voters
                                    {% endif %}
                                    {% if forms[loop.index0] is defined and image.isUserVoted(app.user) == false %}
                                        {%  set myForm = forms[loop.index0].createView %}
                                        {#{{ form(forms[loop.index0].createView) }}#}
                                        {{ form_start(myForm, {'attr': {'id': 'form'~image.id, 'name': 'form'~image.id }}) }}
                                        {{ form_row(myForm.note) }}
                                        {{ form_widget(myForm.imageId, {'value' : image.id}) }}
                                        {{ form_rest(myForm) }}
                                        {{ form_end(myForm) }}
                                    {#{% else %}#}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {#<div class="col-lg-4 col-md-6">
                            <div class="nk-gallery-item-box">
                                <a href="{{asset('assets/images/gallery-2.jpg')}}" class="nk-gallery-item" data-size="1188x594">
                                    <div class="nk-gallery-item-overlay">
                                        <span class="ion-eye"></span>
                                    </div>
                                    <img src="{{asset('assets/images/gallery-2-thumb.jpg')}}" alt="">
                                </a>
                                <div class="nk-gallery-item-description">
                                    Seed open don't thing midst created dry every greater divided of, be man is. Second Bring stars fourth gathering he hath face morning fill. Living so second darkness. Moveth were male. May creepeth. Be tree fourth.
                                </div>
                            </div>
                        </div>#}

                    </div>
                </div>
                <!-- END: Latest Pictures -->
            </div>
            {% include 'sidebar.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block special_page_javascripts %}
{% endblock %}